---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Estilos generales */
  :root {
    --primary-color: #225238;
    --text-color: #333;
    --background-color: #fff;
    --muted-color: #f4f4f4;
    --footer-background: #f9f9f9;
    --max-width: 1200px;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color);
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
  }

  /* El resto de los estilos se mantienen igual */

  /* Responsive design */
  @media (max-width: 1240px) {
    .container,
    header {
      padding: 0 20px;
    }
  }

  @media (max-width: 768px) {
    .content-grid {
      grid-template-columns: 1fr;
    }

    .cta-container {
      flex-direction: column;
    }

    header,
    footer {
      max-width: var(--max-width);
      flex-direction: column;
      text-align: center;
    }

    header nav,
    footer nav {
      margin-top: 1rem;
    }
  }
</style>
